@import "https://fonts.googleapis.com/css?family=Roboto:400,700";
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.5;
    background-image: url('../img/bg/c25.jpg');
/*  background image source: DreamCodes v1.25
http://www.dreamtemplate.com/dreamcodes/documentation/background_images.html
    */
}
h1{
    text-shadow: 2px 2px rgba(40, 40, 40, 0.3);
    color: #444436;
    padding: 2% 10%;
    text-align: center;
    border-bottom: #444436 solid;
    
}
ul {
    list-style: none;
}

li {
    float: left;
    margin-top: 2.5%;
    width: 90%;
}

.scaleContainer {
    position: relative;
    text-align: center;
    color: white;
}


.bottom-left {
    position: absolute;
    bottom: 3%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: transform 0.8s;
    width: 90%;
    text-align: center;
}

.bottom-left a {
    color: white;
}

.scaleContainer img {
    max-width: 90%;
    transition: transform 0.5s ease-in-out;
    box-shadow: 3px 3px 5px #001122;
    cursor: zoom-out;
}

.scaleContainer:hover img,
.scaleContainer:hover .bottom-left {
    transform: scale(1.2);
}

.current-resolution,.current-resolution:after {
    font-size: 0.5rem;
    content: "600px-";
}

@media screen and (min-width: 600px) {
    /* two columns */
    li {
        width: 47%;
    }
    body {
        font-size: 0.8rem;
    }
    .current-resolution:after {
        content: "600px+";
    }

}

@media screen and (min-width: 1200px) {
    /* four columns */
    li {
        width: 24%;
    }
    .current-resolution:after {
        content: "1200px+";
    }
}
